html,
body,
svg {
    margin: 0;
    padding: 0;
}

body {

}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

body > svg {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

#moon-light-hot {
    opacity: 0;
}

#moon-text,
#star-text,
#cloud-text-text {
    opacity: 0;
}

.star {
    opacity: .25;
    transition: opacity ease-in-out 300ms, transform linear 200ms;
}

.cloud {
    opacity: .9;
}

.cloud {
    transform-origin: center;
}

#cave,
.path {
    opacity: 0;
}
